# C++Builder autosave files:
*.~bpr
*.~ddp
*.~dfm
*.~cpp
*.~h

# Built files
*.obj
*.exe
**/bin
**/obj

# Other
*.suo
*.user

/Lab#5/nbproject/
/Lab#5/build/
/Lab#5/dist/
/Lab#5/build.xml